<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="a.talenting.com.talenting">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCG8mC5u906BADgsyDNuD7NI39zwE0gN18" />

        <activity android:name=".controller.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".controller.LoginMainActivity" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">

            <!-- 프로바이더가 사용하는 파일의 경로 -->
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_path" />
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".controller.LoginMainActivity" />
        </provider>

        <activity android:name=".controller.setting.login.LoginActivity" />
        <activity android:name=".controller.setting.login.FindPwActivity" />
        <activity
            android:name=".controller.setting.signin.SigninActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".controller.setting.signin.SigninFirstActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".controller.LoginMainActivity" />
        </activity>
        <activity android:name=".controller.setting.signin.SigninSecondActivity" />
        <activity android:name=".controller.setting.signin.SigninThirdActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".controller.LoginMainActivity" />
        </activity>
        <activity android:name=".controller.setting.profile.ProfileActivity" />
        <activity android:name=".controller.setting.hosting.SetHostingListActivity" />
        <activity android:name=".controller.setting.hosting.SetHostingActivity" />
        <activity android:name=".controller.setting.profile.ProfileEditActivity" />
        <activity android:name=".controller.setting.hosting.SetHostingAddActivity" />
        <activity android:name=".controller.event.EventActivity" />
        <activity android:name=".controller.setting.event.SetEventListActivity" />
        <activity android:name=".controller.setting.event.SetEventAddActivity" />
        <activity android:name=".controller.setting.event.SetEventActivity" />
        <activity android:name=".controller.common.LocationActivity"></activity>
    </application>

</manifest>